<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<!-- Boxicons -->
	<link href='https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css' rel='stylesheet'>
	<!-- My CSS -->
	<link rel="stylesheet" href="/css/admin_dash.css">
	<link rel="stylesheet" href="/css/addProduct.css">

	<title>AdminHub</title>
</head>

<body>


	<!-- SIDEBAR -->
	<%- include("include/_admin_sidebar") %>
		<!-- SIDEBAR -->



		<!-- CONTENT -->
		<section id="content">
			<!-- NAVBAR -->
			<nav>

				<a href="#" class="notification">
					<i class='bx bxs-bell'></i>
					<span class="num">8</span>
				</a>
				<a href="#" class="profile">
					<img src="img/people.png">
				</a>
			</nav>
			<!-- NAVBAR -->

			<!-- MAIN -->
			<main>
				<div class="head-title">
					<div class="left">
						<h1>Add Coupon</h1>
					</div>

				</div>

				<form id="form" action="/admin/add-coupon" method="POST">
					<div class="container">
						<div class="input-box">
							<div style="display: flex;flex-direction: column;justify-content: end;">
								<div>
									<label for="couponCode">Coupon Code</label>
									<input type="text" name="couponCode" id="couponCode">
								</div>
								<span class="validateError" id="couponCodeError"></span>
							</div>

							<div style="display: flex;flex-direction: column;justify-content: end;">
								<div>
									<label for="discount">Discount</label>
									<input type="number" name="discount" id="discount">
								</div>
								<span class="validateError" id="discountError"></span>
							</div>

						</div>

						<div class="input-box">
							<div>
								<label for="start">From</label>
								<input type="date" name="start" id="startDate">
							</div>

							<div>
								<div>
									<label for="end">To</label>
									<input type="date" name="end" id="endDate">
								</div>
								<span class="validateError" id="endDateError"></span>
							</div>
						</div>

						<div class="input-box">

							<div>
								<label for="category">Category</label>
								<select name="category" id="category">
									<option value="all">All</option>
									<% for(let i=0 ; i<category.length ; i++){ %>
										<option value="<%= category[i].cName %>">
											<%= category[i].cName %>
										</option>
										<% } %>
								</select>
							</div>

							<div style="display: flex;flex-direction: column;justify-content: end;">
								<div>
									<label for="priceAbove">Price Above</label>
									<input type="number" name="priceAbove" id="priceAbove">
								</div>
								<span class="validateError" id="priceAboveError"></span>
							</div>

						</div>

						<div class="btn-container">
							<button type="submit" class="btn">Submit</button>
						</div>

					</div>
				</form>

			</main>
			<!-- MAIN -->

		</section>
		<!-- CONTENT -->


		<script src="/js/admin_css.js"></script>
		<script src="/js/admin_couponManageValidation.js"></script>
</body>

</html>