<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<!-- Boxicons -->
	<link href='https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css' rel='stylesheet'>
	<!-- My CSS -->
	<link rel="stylesheet" href="/css/admin_dash.css">
	<link rel="stylesheet" href="/css/addProduct.css">

	<title>AdminHub</title>
</head>
<body>


	<!-- SIDEBAR -->
	<%- include("include/_admin_sidebar") %>
	<!-- SIDEBAR -->



	<!-- CONTENT -->
	<section id="content">
		<!-- NAVBAR -->
		<nav>
			
			<a href="#" class="notification">
				<i class='bx bxs-bell' ></i>
				<span class="num">8</span>
			</a>
			<a href="#" class="profile">
				<img src="img/people.png">
			</a>
		</nav>
		<!-- NAVBAR -->

		<!-- MAIN -->
		<main>
			<div class="head-title">
				<div class="left">
					<h1>Edit Category</h1>
				</div>
				
			</div>

			<form action="/admin/api/category/update?id=<%= category._id %>" method="POST" enctype="multipart/form-data">
				<div class="container">
					<div class="input-box">
						<div>
							<label for="cName">Category Name</label>
							<input type="text" name="cName" value="<%= category.cName %>" required>
						</div>
					</div>

					<div class="input-box">
						<div>
							<label for="image">Image Upload</label>
							<div class="image-upload">
								<span class="inner">Drag & drop images here or 
									<span class="select">Browse</span></span>
								<input type="file" name="cImage">
							</div>
						</div>

						<div class="container1">
						
						</div>
					</div>
					<label>Current Image</label>
					<div class="container2">
						<div class="image">
							<img src="<%= category.image %>" >
						</div>
					</div>
	
					<div class="btn-container">
						<button type="submit" class="btn">Submit</button>
					</div>
	
				</div>
			</form>

		</main>
		<!-- MAIN -->

	</section>
	<!-- CONTENT -->
	

	<script src="js/admin_css.js"></script>
	<script src="/js/admin_imageUploadSingle.js"></script>
</body>
</html>