<!-- include header -->
<%- include("include/_header") %>
  <!--/ include header -->

  <!-- main -->
  <main>
    <div class="main">
      <div class="login-box">
        <h3>Change Password</h3>
        <form action="/api/change_password" method="POST" id="form">
          <div>

            <!-- <%# if(message){ %>
              <p><%#= message %></p>
            <%# } %> -->

            <div>
              <label for="password">Old Password</label><br>
              <input id="oldPassword" type="text" name="oldPassword">
              <span id="oldPassCheck"></span><br>
              <p class="validateError" id="oldPasswordError"></p>
            </div>

            <div>
              <a href="/forgot_passwordVerify">forgot password</a>
            </div>

            <div>
              <label for="password">New Password</label><br>
              <input id="password" type="text" name="password">
              <span id="passCheck"></span><br>
              <p class="validateError" id="passwordError"></p>
            </div>

            <div>
              <label for="password">Confirm Password</label><br>
              <input type="text" name="confirmPassword" id="confirmPassword">
              <span id="confirmPassCheck"></span><br>
              <p class="validateError" id="confirmPasswordError"></p>
            </div>

          </div>

          <button class="btn" type="submit">Submit</button>

        </form>
        <br><br>
        <p style="font-size: .5rem;padding:0px;margin-bottom: -30px;margin-right:-35px;margin-left: -35px; width: 300px;color: #949494;">
          Make sure your password is at least 8 characters long.
          Include both letters (uppercase and lowercase) and numbers in your password.
          Include at least one special character such as @, $, !, %, # , *, ?, or & in your password.
        </p>
      </div>
    </div>
  </main>
  <!--/ main -->

  <script src="/js/user_changePasswordValidation.js"></script>

  <!-- footer -->
  <%- include("include/_footer") %>
    <!--/ footer -->