<!-- include header -->
<%- include("include/_header") %>
  <!--/ include header -->

  <!-- main site -->
  <main>

    <div class="success">


      <lord-icon src="https://cdn.lordicon.com/gqjpawbc.json" trigger="loop" delay="500" stroke="light"
        state="in-reveal" style="width:150px;height:150px;margin: -20px 0 10px 0;">
      </lord-icon>

      <p>Order Placed Successfully!</p>

      <div>
        <a href="/"><button style="margin: 10px;" class="btn">Go to Home</button></a>
        <a href="/orders_page"><button style="margin: 20px 10px;" class="btn">Go To Orders</button></a>
      </div>

    </div>



  </main>

  <script src="https://cdn.lordicon.com/lordicon.js"></script>

  <!--/ main site -->

  <!-- footer -->
  <%- include("include/_footer") %>
    <!--/ footer -->