<!-- include header -->
<%- include("include/_header") %>
  <!--/ include header -->

  <!-- main -->
  <main>
    <div class="main">
      <div class="login-box">
        <h3>Create Account</h3>
        <form action="/register" method="POST" id="form">
          <div>

            <div>
              <label for="name">Name</label><br>
              <input id="name1" type="name" name="name"><br>
              <p class="validateError" id="nameError"></p>
            </div>

            <div class="no-email">
              <label for="email">Email</label><br>
              <input type="email" name="email" value=<%=email %>>
            </div>

            <div>
              <label for="phone">Phone</label><br>
              <input id="phone" type="number" name="phone"><br>
              <p class="validateError" id="phoneError"></p>
            </div>

            <div>
              <label for="password">Password</label><br>
              <input id="password" type="text" name="password">
              <span id="passCheck"></span><br>
              <p class="validateError" id="passwordError"></p>
            </div>

            <div>
              <label for="password">Confirm Password</label><br>
              <input type="text" name="confirmPassword" id="confirmPassword">
              <span id="confirmPassCheck"></span><br>
              <p class="validateError" id="confirmPasswordError"></p>
            </div>

          </div>

          <button class="btn" type="submit">REGISTER</button>

          <a href="/">Sign in</a>

        </form>
        <br><br>
        <p style="font-size: .5rem;padding:0px;margin-bottom: -30px;margin-right:-35px;margin-left: -35px; width: 300px;color: #949494;">
          Make sure your password is at least 8 characters long.
          Include both letters (uppercase and lowercase) and numbers in your password.
          Include at least one special character such as @, $, !, %, # , *, ?, or & in your password.
        </p>
      </div>
    </div>
  </main>
  <!--/ main -->

  <script src="/js/user_registerValidation.js"></script>

  <!-- footer -->
  <%- include("include/_footer") %>
    <!--/ footer -->