<!-- include header -->
  <%- include("include/_header") %>
<!--/ include header -->

<!-- main site -->
<main>

  <div class="user-blocked">
    <p>Your Account has been Blocked. Please contact admin</p>
  </div>

</main>
<!--/ main site -->

<!-- footer -->
  <%- include("include/_footer") %>
<!--/ footer -->