<!-- include header -->
<%- include("include/_header") %>
<!--/ include header -->

<!-- main -->
<main>
  <div class="main">
    <div class="login-box">
      <h3>Verification</h3>
      <form action="/register_verify" method="POST" id="form">
        
        <div class="input-box">
          <label for="email">Email</label><br>
          <input id="email" name="email" placeholder="example@gmail.com">
          <span id="emailCheck"></span><br>
          <span class="validateError" id="emailError"></span><br>
          <button class="btn" type="submit">SEND OTP</button>
        </div>
  
      </form>
    </div>
  </div>
</main>

<script src="/js/user_emailValidation.js"></script>

<!--/ main -->

<!-- footer -->
<%- include("include/_footer") %>
<!--/ footer -->