<!-- include header -->
<%- include("include/_header") %>
  <!--/ include header -->

  <!-- main -->
  <main>
    <div class="main">
      <div class="login-box">
        <h3>Verification</h3>
        <form action="/register_verify2" method="POST">

          <div class="no-email">
            <label for="email">Email</label><br>
            <input type="email" name="email" placeholder="example@gmail.com" required value=<%=email %>><br>
          </div>

          <div class="input-box">
            <label for="otp">OTP</label><br>
            <input type="number" name="otp" required>
            <div class="otpTimer">
              <div id="timer" style="margin-top: 5px;"></div>
              <a id="resendBtn" class="hide" href="/api/resendOTP">Resend OTP</a>
            </div>
            <button class="btn" type="submit">SUBMIT</button>
          </div>

        </form>
      </div>
    </div>
  </main>
  <!--/ main -->

  <script>
    // Timer function
    function startTimer(duration, display) {
      var timer = duration, minutes, seconds;
      let intervalId = setInterval(function () {
        minutes = parseInt(timer / 60, 10);
        seconds = parseInt(timer % 60, 10);

        minutes = minutes < 10 ? "0" + minutes : minutes;
        seconds = seconds < 10 ? "0" + seconds : seconds;

        display.textContent = minutes + ":" + seconds;

        if (timer < 10) {
          display.classList.add("abtExpire");
        }

        if (--timer < 0) {
          clearInterval(intervalId); // Clear the interval when timer reaches zero
          display.textContent = "Otp expired"
          resendBtn.classList.add("show");
        }
      }, 1000);
    }

    // Start timer when page loads
    window.onload = function () {
      let timeLeft = 60; // Remaining time in seconds
      let display = document.getElementById('timer');
      let resendBtn = document.getElementById("resendBtn")

      startTimer(timeLeft, display);
    };
  </script>

  <!-- footer -->
  <%- include("include/_footer") %>
    <!--/ footer -->