<!-- include header -->
<%- include("include/_header") %>
<!--/ include header -->

<!-- main -->
<main>
  <div class="main">
    <div class="login-box">
      <h3>Login</h3>
      <% if(messages.error) {%>
        <p><%= messages.error  %></p>
        <% } %>
      <form action="/login" method="POST" id="form">
        <div>
          <div class="input-box">
            <label for="email">Email</label><br>
            <input id="email" name="email" placeholder="example@gmail.com"><br>
            <span class="validateError" id="emailError"></span>
          </div>
          
          <div class="input-box">
            <label for="password">password</label><br>
            <input id="password" type="password" name="password" placeholder="******"><br>
            <p class="validateError" id="passwordError"></p>
            <a href="#">forgot password</a>
          </div>
        </div>
        
        <button class="btn" type="submit">LOGIN</button>
  
        <a href="/register_verify">Create Account</a>
  
      </form>
    </div>
  </div>
</main>
<!--/ main -->

<script src="/js/user_emailValidation.js"></script>
<script src="/js/user_registerValidation.js"></script>

<!-- footer -->
<%- include("include/_footer") %>
<!--/ footer -->