<!-- include header -->
<%- include("include/_header") %>
  <!--/ include header -->

  <!-- main site -->
  <main>

    <div class="success">
      
      <lord-icon src="https://cdn.lordicon.com/akqsdstj.json" trigger="hover" style="width:250px;height:250px">
      </lord-icon>

      <!-- <div class="tenor-gif-embed w-25 m-2" data-postid="21161377" data-share-method="host" data-aspect-ratio="1.77778" data-width="100%"><a href="https://tenor.com/view/we-dont-really-have-that-much-money-stan-marsh-eric-cartman-kyle-broflovski-butters-stotch-gif-21161377">We Dont Really Have That Much Money Stan Marsh GIF</a>from <a href="https://tenor.com/search/we+dont+really+have+that+much+money-gifs">We Dont Really Have That Much Money GIFs</a></div> <script type="text/javascript" async src="https://tenor.com/embed.js"></script> -->

      <p>Order Failed!</p>
      <p style="font-size: 0.7rem;font-weight: 400;"><%= message %></p>

      <div>
        <a href="/"><button style="margin: 10px;" class="btn">Go to Home</button></a>
        <a href="/orders_page"><button style="margin: 20px 10px;" class="btn">Go To Orders</button></a>
      </div>
      
    </div>
    


  </main>
  
  <script src="https://cdn.lordicon.com/lordicon.js"></script>

  <!--/ main site -->

  <!-- footer -->
  <%- include("include/_footer") %>
    <!--/ footer -->