<!-- SIDEBAR -->
<section id="sidebar">
  <a href="" class="brand">
    <span class="text">SHOPME. ADMIN</span>
  </a>
  <ul class="side-menu top">
    <li class="active">
      <a href="/admin/admin-dash">
        <span class="text">Dashboard</span>
      </a>
    </li>
    <li>
      <a href="/admin/product-manage">
        <span class="text">Product Management</span>
      </a>
    </li>
    <li>
      <a href="/admin/category-manage">
        <span class="text">Category Management</span>
      </a>
    </li>
    <li>
      <a href="/admin/user-manage">
        <span class="text">User Management</span>
      </a>
    </li>
    <li>
      <a href="/admin/order-manage">
        <span class="text">Order Management</span>
      </a>
    </li>
    <li>
      <a href="/admin/coupon-manage">
        <span class="text">Coupon Management</span>
      </a>
    </li>
  </ul>
  <ul class="side-menu">
    <!-- <li>
      <a href="#">
        <i class='bx bxs-cog' ></i>
        <span class="text">Settings</span>
      </a>
    </li> -->
    <li>
      <a href="/admin/admin-logout" class="logout">
        <i class='bx bxs-log-out-circle' ></i>
        <span class="text">Logout</span>
      </a>
    </li>
  </ul>
</section>
<!-- SIDEBAR -->