      <footer>
        <div class="container-fluid footer">
          <div>
            <h3>Customer Service</h3>
            <a href="">
              <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 14 14" fill="none">
                <path d="M13.9999 13.3834C13.9998 12.8892 13.706 12.4449 13.2513 12.2515L9.76363 10.7676V9.93323C10.0857 9.45803 10.2882 8.89565 10.3284 8.28959H10.7474C11.5766 8.28959 12.2513 7.61488 12.2513 6.78566V5.56855C12.2513 4.86029 11.7589 4.26523 11.0987 4.10651C11.0688 2.89878 10.7956 1.98094 10.266 1.30589C9.58611 0.439319 8.48735 0 7 0C5.51265 0 4.41389 0.439319 3.73403 1.30599C3.20435 1.98094 2.93123 2.89878 2.90132 4.10651C2.24102 4.26523 1.74872 4.86029 1.74872 5.56855V6.78566C1.74872 7.61488 2.42345 8.28959 3.25263 8.28959H3.67165C3.71181 8.89565 3.91433 9.45803 4.23636 9.93323V10.7676L0.748748 12.2515C0.294053 12.4449 0.000106812 12.8894 0.000106812 13.3835L0 13.5898C0 13.6986 0.0431519 13.8029 0.120163 13.8798C0.197067 13.9567 0.301316 14 0.410157 14H13.5898C13.6987 14 13.8031 13.9567 13.88 13.8798C13.9569 13.8028 14 13.6985 14 13.5898L13.9999 13.3834ZM8.94375 11.0554C8.94407 11.0652 8.96703 12.0607 8.37904 12.6731C8.05615 13.0092 7.59215 13.1796 7 13.1796C6.41 13.1796 5.94716 13.0104 5.62451 12.6767C5.02942 12.0611 5.05602 11.0641 5.05625 11.0554C5.05644 11.0506 5.05658 11.0458 5.05658 11.041L5.05667 11.0357V10.7766C5.60421 11.1706 6.27551 11.4028 7 11.4028C7.72449 11.4028 8.39584 11.1704 8.94333 10.7766V11.0359L8.94347 11.0409C8.94347 11.0457 8.94356 11.0505 8.94375 11.0554ZM9.5169 5.33465C9.51639 5.34287 9.51564 5.35108 9.51564 5.35953V7.6608L8.73664 8.1802C8.48884 8.34545 8.20035 8.43285 7.90234 8.43285H7.2086C6.98217 8.43285 6.79845 8.61644 6.79845 8.84301C6.79845 9.06953 6.98217 9.25316 7.2086 9.25316H7.90234C8.3628 9.25316 8.80874 9.11815 9.19178 8.86265L9.43468 8.70072C9.153 9.78199 8.1682 10.5826 7 10.5826C5.61284 10.5826 4.48438 9.45397 4.48438 8.06689V5.35953C4.48438 5.35099 4.48363 5.34277 4.4831 5.33442V4.77335C4.48363 4.76499 4.48438 4.75678 4.48438 4.74824C4.48438 4.04264 4.65517 3.57651 4.99204 3.36299C5.54084 3.01499 6.50067 3.335 6.82355 3.48742C6.93462 3.5404 7.0644 3.5403 7.1757 3.48775C7.49933 3.33511 8.45907 3.0151 9.00796 3.36299C9.34484 3.57651 9.51564 4.04264 9.51564 4.74824C9.51564 4.75669 9.51639 4.7649 9.5169 4.77311V5.33465ZM11.431 5.56855V6.78566C11.431 7.16263 11.1243 7.46928 10.7474 7.46928H10.3373V4.88497H10.7474C11.1243 4.88497 11.431 5.19162 11.431 5.56855ZM7 0.820321C9.17204 0.820321 10.1921 1.81303 10.2755 4.02822C10.1608 3.40101 9.88277 2.94503 9.44438 2.66839C8.59576 2.13272 7.4388 2.49898 7 2.67159C6.56124 2.49898 5.40424 2.13272 4.55562 2.66839C4.11727 2.94503 3.83924 3.40101 3.72452 4.02822C3.80794 1.81303 4.82801 0.820321 7 0.820321ZM3.66279 7.46928H3.25263C2.87569 7.46928 2.56903 7.16263 2.56903 6.78566V5.56855C2.56903 5.19162 2.87569 4.88497 3.25263 4.88497H3.66279V7.46928ZM1.06993 13.0063L4.28336 11.6391C4.35535 12.0842 4.53415 12.6898 4.97249 13.1797H0.874574C0.918044 13.1037 0.985766 13.0421 1.06993 13.0063ZM9.02751 13.1797C9.46585 12.6898 9.64468 12.0842 9.71664 11.6391L12.9301 13.0063C13.0143 13.0421 13.0818 13.1037 13.1254 13.1797H9.02751Z" fill="#A3A3A3"/>
              </svg>
              +91 9876543210
            </a>
            <a href="">
              <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 0 12 12" fill="none">
                <path d="M6.00763 0C2.70371 0 0.0140955 2.68703 0.0128941 5.99064C0.0122934 7.04662 0.288912 8.07756 0.813362 8.98596L0 12L3.13978 11.2582C4.01524 11.7358 5.0008 11.9865 6.00409 11.9871H6.00644C9.30977 11.9871 11.9982 9.29951 12 5.9965C12.0012 4.39508 11.3784 2.88945 10.2467 1.75664C9.11498 0.624442 7.61097 0.000600622 6.00763 0ZM6.00644 1.2C7.28817 1.2006 8.4927 1.70028 9.39819 2.60507C10.3037 3.51108 10.8011 4.71493 10.7999 5.9953C10.7987 8.63771 8.64913 10.7871 6.00528 10.7871C5.20541 10.7865 4.41307 10.5857 3.7152 10.2047L3.31088 9.98437L2.86436 10.0899L1.68298 10.3688L1.97129 9.29768L2.10138 8.81718L1.85292 8.38593C1.43408 7.66116 1.21241 6.83245 1.21301 5.99064C1.21421 3.34943 3.36438 1.2 6.00644 1.2ZM3.8863 3.22502C3.78612 3.22502 3.62409 3.26251 3.48668 3.41252C3.34927 3.56189 2.96163 3.92375 2.96163 4.66054C2.96163 5.39737 3.4984 6.10957 3.57339 6.20977C3.64782 6.30938 4.6095 7.86913 6.13184 8.46916C7.39677 8.96775 7.65368 8.86934 7.9285 8.84416C8.20333 8.81954 8.81512 8.48263 8.93992 8.13281C9.06476 7.78303 9.06502 7.48213 9.02782 7.42031C8.99063 7.35793 8.89071 7.3207 8.74069 7.24572C8.59127 7.1707 7.85497 6.80917 7.71756 6.75936C7.58015 6.7096 7.47964 6.68438 7.38002 6.83438C7.28041 6.98439 6.99413 7.3207 6.90653 7.42031C6.81893 7.52051 6.73192 7.53398 6.5819 7.45899C6.43188 7.38338 5.94954 7.22486 5.37711 6.71486C4.93186 6.31826 4.6314 5.82892 4.5438 5.67891C4.4568 5.52951 4.53559 5.44747 4.61062 5.37304C4.67782 5.30586 4.75945 5.19816 4.83444 5.11056C4.90887 5.02297 4.93466 4.96056 4.98446 4.86095C5.03427 4.76134 5.00879 4.67345 4.97159 4.59843C4.93439 4.52344 4.64305 3.7839 4.50981 3.4875C4.39759 3.23849 4.27909 3.2327 4.17228 3.22852C4.08527 3.22491 3.98592 3.22502 3.8863 3.22502Z" fill="#A3A3A3"/>
              </svg>
              +91 1234567890
            </a>
          </div>
          <div>
            <h3>Product Help</h3>
            <a href="">Register your product</a>
            <a href="">Report a problem with your product</a>
          </div>
          <div>
            <h3>Warranty</h3>
            <a href="">Return and cancellation policy</a>
            <a href="">Shipping and delivery policy</a>
          </div>
          <div>
            <h3>Social</h3>
            <a href="">
              <svg xmlns="http://www.w3.org/2000/svg" width="9" height="13" viewBox="0 0 9 13" fill="none">
                <g clip-path="url(#clip0_61_394)">
                  <path d="M2.16021 12.6932H5.42866V6.63261H7.62215C7.62215 6.63261 7.82757 5.6546 7.92776 4.58523H5.44138V3.19048C5.44138 2.98211 5.79741 2.70223 6.15033 2.70223H7.93128V0.578552H5.50906C2.07981 0.578552 2.16021 2.62005 2.16021 2.92488V4.59229H0.569214V6.63182H2.16021V12.6932Z" fill="#A3A3A3"/>
                </g>
                <defs>
                  <clipPath id="clip0_61_394">
                    <rect width="8.50095" height="12.1243" fill="white" transform="translate(0 0.573792)"/>
                  </clipPath>
                </defs>
              </svg>
              Facebook
            </a>
            <a href="">
              <svg xmlns="http://www.w3.org/2000/svg" width="12" height="11" viewBox="0 0 12 11" fill="none">
                <g clip-path="url(#clip0_61_399)">
                  <path d="M9.1966 0.0057373H3.70003C2.15688 0.0057373 0.901611 1.19944 0.901611 2.66654V7.8928C0.901611 9.36008 2.15688 10.5534 3.70003 10.5534H9.1966C10.7398 10.5534 11.9949 9.36008 11.9949 7.8928V2.66654C11.9949 1.19944 10.7398 0.0057373 9.1966 0.0057373ZM10.7878 7.8928C10.7878 8.72708 10.0739 9.40584 9.1966 9.40584H3.70003C2.82278 9.40584 2.1089 8.72708 2.1089 7.8928V2.66654C2.1089 1.83242 2.82278 1.15381 3.70003 1.15381H9.1966C10.0739 1.15381 10.7878 1.83242 10.7878 2.66654V7.8928Z" fill="#A3A3A3"/>
                  <path d="M9.39702 3.12479C9.02421 3.12479 8.72083 2.8365 8.72083 2.48199C8.72083 2.12764 9.02421 1.83936 9.39702 1.83936C9.76989 1.83936 10.0731 2.12764 10.0731 2.48199C10.0731 2.8365 9.76989 3.12479 9.39702 3.12479Z" fill="#A3A3A3"/>
                  <path d="M6.44807 2.56323C4.87294 2.56323 3.59119 3.78179 3.59119 5.27965C3.59119 6.77745 4.87294 7.99618 6.44807 7.99618C8.02357 7.99618 9.30533 6.77745 9.30533 5.27965C9.30533 3.78195 8.02357 2.56323 6.44807 2.56323ZM6.44807 6.84859C5.53883 6.84859 4.7983 6.14466 4.7983 5.27965C4.7983 4.41492 5.53883 3.71131 6.44807 3.71131C7.35783 3.71131 8.09788 4.41492 8.09788 5.27965C8.09788 6.14466 7.35783 6.84859 6.44807 6.84859Z" fill="#A3A3A3"/>
                </g>
                <defs>
                  <clipPath id="clip0_61_399">
                    <rect x="0.896606" width="11.1034" height="10.5574" rx="2" fill="white"/>
                  </clipPath>
                </defs>
              </svg>
              Instagram
            </a>
            <a href="">
              <svg xmlns="http://www.w3.org/2000/svg" width="14" height="11" viewBox="0 0 14 11" fill="none">
                <g clip-path="url(#clip0_61_406)">
                  <path d="M0.00561523 9.43663C1.22723 10.1816 2.67828 10.6161 4.23746 10.6161C9.31532 10.6161 12.0919 6.61653 12.0919 3.14761C12.0919 3.03401 12.0892 2.92073 12.0841 2.80808C12.6236 2.43809 13.0915 1.97576 13.4615 1.44934C12.9665 1.65813 12.4345 1.79934 11.876 1.8628C12.446 1.53787 12.8837 1.0235 13.0898 0.410604C12.5563 0.71126 11.9656 0.929889 11.3369 1.04746C10.8333 0.537373 10.1158 0.218628 9.32164 0.218628C7.79717 0.218628 6.56104 1.39397 6.56104 2.84347C6.56104 3.04908 6.58559 3.24947 6.63262 3.4416C4.33841 3.33213 2.30417 2.28721 0.942559 0.699042C0.704946 1.0868 0.568783 1.53755 0.568783 2.01876C0.568783 2.9293 1.05603 3.73274 1.7969 4.20348C1.3442 4.18984 0.918531 4.07163 0.546423 3.87506C0.546257 3.88616 0.546257 3.89711 0.546257 3.90821C0.546257 5.17984 1.49788 6.24082 2.76071 6.48199C2.5291 6.54177 2.28515 6.57413 2.03335 6.57413C1.85547 6.57413 1.6826 6.55763 1.5139 6.52685C1.86515 7.56971 2.88486 8.32857 4.09279 8.34969C3.148 9.05378 1.95759 9.47347 0.66423 9.47347C0.441298 9.47347 0.221538 9.46106 0.00561523 9.43663Z" fill="#A3A3A3"/>
                </g>
                <defs>
                  <clipPath id="clip0_61_406">
                    <rect width="13.4666" height="10.8344" fill="white"/>
                  </clipPath>
                </defs>
              </svg>
              Twitter
            </a>
          </div>
        </div>
      </footer>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js" integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>

  </body>
</html>