body{
  height: 100vh;
  background-color: #FFFBFE;
  display: flex;
  justify-content: space-between;
}

.main{
  display: flex;
  align-items:center;
  justify-content: center;
  /* flex-direction: column; */
}

.login-box{
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  padding: 50px 75px;
  box-shadow: 10px 10px 30px #b5b5b5;
  border-radius: 50px;
}

h3{
  margin-top: 5px;
  font-size: 1.2rem;

}

.login-box form{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.btn{
  background-color: #1f1f14;
  border-radius: 20px;
  color: #FFFBFE;
  margin-top:10px ;
  font-size: 0.7rem;
  padding: 5px 20px;
  border: none;
}

.btn:hover{
  background-color: #525251;
  color: #FFFBFE;
}

.login-box label{
  font-size: 0.8rem;
  color: #1f1f14;
  margin-top: 10px;
}

.login-box input{
  border-radius: 8px;
  padding: 5px;
  border: none;
  background-color: white;
  box-shadow: 2px 2px 10px -5px #b5b5b5;
  font-size: 0.75rem;
}

.login-box a{
  margin-top: 5px ;
  font-size: 0.5rem;
  color: #A3A3A3;
  text-decoration: none;
}

.login-box a:hover{
  text-decoration: underline;
}

.send-otp{
  background-color: #A2A2A2;
  border-radius: 20px;
  color: #1f1f14;
  margin-top:5px ;
  font-size: 0.7rem;
  padding: 5px 20px;
  border: none;
}

.no-email{
  display: none;
}

.validateError{
  font-size: 0.6rem;
  color: rgb(170, 16, 16);
}



.user-blocked{
  display: flex;
  justify-content: center;
  font-size: 1.5rem;
  font-weight: 500;
  color: #b5b5b5;
}

.abtExpire{
  color: rgb(145, 13, 13);
}

.expired{
  font-size: 13px;
  color: rgb(145, 13, 13);
}

@media (max-width:375px){
  .login-box{
    width: 250px;
  }
}