.offer{
  background-color: #AA6671;
  margin: 20px 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #FFFBFE;
  border-radius: 50px;
  padding: 20px;
}

.offer span,
.offer h3{
  font-weight: 800;
}

.products{
  margin: 30px 25px;
}

.products h3{
  font-size: 1.7rem;
  font-weight: 700;
  margin-left: 25px;
  margin-top: 50px;
}

#product{
  border: none;
  border-radius: 50px;
  box-shadow: 10px 10px 30px -10px #00000032;
  margin: 10px 10px;
}

#product img{
  margin: 30px;
  height: 25vh;
  object-fit: contain;
}

a{
  text-decoration: none;
}

#product .card-body{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 5px;
  text-align: center;
}

#product .card-title{
  font-size: 1.5rem;
  font-weight: 700;
}

#product .card-text{
  font-size: 1.2rem;
  font-weight: 600;
}

#product .mrp{
  margin-top: -15px;
  font-size: 1rem;
  color: #b5b5b5;
  text-decoration: line-through;
}

#product .price{
  font-size: 1.2rem;
  font-weight: 600;
}

.no-products{
  height: 60vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.no-products p{
  font-size: 1.5rem;
  font-weight: 500;
  color: #b5b5b5;
}

#searchResults{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  color: #b5b5b5;
  margin-bottom: 15px;
}

#filterDiv{
  border-right: 1px solid #dddddd;
  margin-right: 15px;
  margin-left: 0;
}

.menu {
  padding: 20px;
}

.menu h4 {
  margin-top: 15px;
  font-size: 1.2rem;
}

.menu p ,.menu label{
  font-size: 0.8rem;
  margin: 2px;
}

.menu input[type="number"] {
  width: 80%;
  font-size: 0.75rem;
  padding: 5px 15px;
  margin-bottom: 10px;
  border-radius: 15px;
  border: none;
  box-shadow: 2px 5px 10px -3px #0000002e;
}

.menu button {
  font-size: 0.65rem;
  background-color: #1e1c1c;
  border-radius: 20px;
  color: #fff;
  border: none;
  padding: 5px 15px;
  cursor: pointer;
}


.sort-div {
  display: flex;
  align-items: center;
  margin: 0;
}

.menu button:hover {
  background-color: #0056b3;
}

.menu .sort-options input[type="radio"] {
  margin-right: 5px;
}

/* CSS to change radio button color */
input[type="radio"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 10px; /* Set width and height to match the custom radio button */
  height: 10px;
  border-radius: 50%; /* Make it round */
  border: 1px solid black; /* Set border color */
  /* outline: none; */
  cursor: pointer; /* Show pointer cursor on hover */
}

/* Style for checked state */
input[type="radio"]:checked {
  background-color: rgb(22, 22, 22); /* Change background color when checked */
}

.menu .sort-options label {
  cursor: pointer;
}