.container{
  display: flex;
  flex-direction: column;
  margin: 10px;
  background-color: #F9F9F9;
  padding: 20px;
  border-radius: 30px;
}

.container-head{
  display: flex;
  gap: 20px;
  padding: 10px;
}

.container-head .sec{
  width:100%
}

.container-head.sec form,
.interactions form{
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 10px;
}

.container-head .sec button,
.interactions button{
  font-size: 0.6rem;
  padding: 4px 10px;
  font-weight: 100;
}

.itemImage img{
  width: 20vw;
  margin: 20px;
}